# Core functionality - changes here should be rare!
/src/app.py                   @Evan0706
/src/backend/database.py      @Evan0706
/src/backend/routers/auth.py  @Evan0706

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Evan0706
